* {
  box-sizing: border-box;
}

html, body {
  height: 100vh;
}

body {
  color: #585858;
  background: rgb(226,211,205);
  background: linear-gradient(180deg, rgba(226,211,205,1) 0%, rgba(227,218,213,1) 25%, rgba(230,205,181,1) 50%, rgba(247,216,181,1) 75%, rgba(208,200,182,1) 100%);
  background-attachment: fixed;
}

input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  margin: 0;
}

.container {
  padding: 5% 5% 0;

 
  font-family: 'Lato', sans-serif;
}

.main-text {
  font-size: 2.5em;
}

.accordion {
  border: none;
  /* -webkit-box-shadow: 8px 0px 0px 0px #DCD0C0, 0px 8px 0px 0px #B1938B, -8px 0px 0px 0px #4E4E56, 0px 0px 0px 8px #DA635D, 5px 5px 15px 5px rgba(105,105,105,0); 
  box-shadow: 8px 0px 0px 0px #DCD0C0, 0px 8px 0px 0px #B1938B, -8px 0px 0px 0px #4E4E56, 0px 0px 0px 8px #DA635D, 5px 5px 15px 5px rgba(105,105,105,0); */
}

.accordion__item {
  overflow: hidden;
}

.accordion__header {
  cursor: pointer;
  padding: 1em;
}

.accordion__header--1 {
  background-color: #E2D3CD;
}

.accordion__header--2 {
  background-color: #E3DAD5;
}

.accordion__header--3 {
  background-color: #E6CDB5;
}

.accordion__header--4 {
  background-color: #F7D8B5;
}

.accordion__header--5 {
  background-color: #D0C8B6;
}
.accordion__titel {
  display: inline-block;
  width: 100%;
  padding-right: 32px;
  line-height: 2em;
  border: none;
  background-size: 30px 30px;
  background-position: center right;
  background-repeat: no-repeat;
  background-color: transparent;
  background-image: url(../assets/svg/wolf-close.svg);

  cursor: pointer;

  transition: all 0.3s;

}

.accordion__item:has(.accordion__radio:checked) .accordion__titel {
  background-image: url(../assets/svg/wolf.svg);
}

/* .accordion__header:hover .accordion__button {
  background-image: url(../assets/svg/wolf.svg);
} */


.accordion__body {
  width: 0;
  height: 0;
  opacity: 0%;
}

.accordion__item:has(.accordion__radio:checked) > .accordion__body {
  animation: emersion-anim 0.3s forwards;
}

@keyframes emersion-anim {
  0% {opacity: 0; width: 0; height: 0;}
  10% {opacity: 0.1; width: 10%; height: 10%;}
  25% {opacity: 0.25;  width: 25%; height: 25%;}
  50% {opacity: 0.5;  width: 50%; height: 50%;}
  75% {opacity: 0.75;  width: 75%; height: 75%;}
  90% {opacity: 0.9;  width: 90%; height: 90%;}
  100% {opacity: 1;  width: 100%; height: 100%;}
}

.accordion__img {
  width: 100%;
  height: auto;
  margin: 0 auto;
  opacity: 0.8;
  filter: grayscale(100%);
}